.column-center {
  display: inline-block;
  width: 60%;
  text-align: center;
}

#frame {
  pointer-events: none;
  width: 900px;
  height: 700px;
  z-index: 100;
  position: absolute;
  margin: auto;
  top: 5.7em;
  left: 0;
  right: 0;
}

#composition-view {
  width: 830px;
  height: 650px;
  border-style: solid;
  border-width: 1px;
  margin-top: 0em;
  margin-left:auto;
  margin-right:auto;
/*  margin: auto;
  top: 8em;
  left: 0;
  right: 0;*/
}

#text-form {
  padding: 0.75em;
  margin-top: 16.5em;
  width: 15em;
  display: block;
  z-index: 110;
  position: absolute;
  top: 8.5em;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  color: grey;
}

#input-text {
  height: 2em;
  width: 14em;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  text-align: center;
  font-size: 12px;
}

#submit-text {
  margin-top: 1em;
  border: none;
  border-radius: 24px;
  background-color: white;
  color; grey;

}

#libraries {
  top: 1em;
  position: relative;
}

#text-view {
  position: relative;
  top: 0px;
  left: 0px;
}

.cg {
  position: absolute;
  width: 850px;
  height: 700px;
}

#graphic-view {
  font-family: 'Special Elite', cursive;
  color: rgba(1, 1, 1, 0);
}

#tips-heading {
  margin-top: 2.8em;
  margin-bottom: 0.5em;
}

#tips h5 {
  margin: 0.8em;
}