.column-right {
  display: inline;
  float: right;
  width: 20%;
}

#layers {
  text-align: center;
  font-size: 50px;
}

#layer-list {
  text-align: center;
  overflow: scroll;
  height: 730px;
  font-size: 25px;
}


#sortable { 
  padding-left: 1.5em;
  padding-right: 1.5em; 
  font-size: 1.0em; 
  top : 150px;
  width : 150px;
/*  position : absolute*/  
}

li {
  background: rgba(202, 195, 193, 0.3);
  padding: 0.6em;
  padding-left: 1.5em; 
  /*font-size: 1.0em; */
  list-style-type: none;
  margin: 0.2em;
  border-radius: 0.2em;
  background-repeat: no-repeat;
  color: black;
}

.greyscale {
  -webkit-filter: grayscale(100%); 
  filter: grayscale(100%); 
}

.controller {
  /*position: relative;*/
  width: 3px;
  font-family: Helvetica !important;
  font-weight: 100;
  color: darkgrey;
}

.greyscale-controller {
  float: right;
  padding-right: 50px;

/*position: relative;*/
}

.greyscale-controller:hover {
color: hotpink;
/*position: relative;*/
}

.delete-controller {
  float: right;
  padding-right: 10px;
}

.delete-controller:hover {
  color: DarkRed;
}