body {
  font-family: 'Abel', sans-serif;
  font-weight: 100;
}

.heading {
  text-align: center;
}

.draggable {
  width: 200px;
  padding: 0.5em; 
  float: left; 
  margin: 0 10px 10px 0;   
}

.composition-graphic {
  left: 400px;
  top: 200px;
  position : relative;
  width : auto;
  height: 300px;
  margin: auto; 
}

#graphics {
  margin-top: 550px;
}

.composition-background {
  top : 120px;
  left: 7.4em;
  /*left : 400px;*/
  margin : auto;
  width : auto;
  position : absolute;
  z-index : -1;
  max-width : 900px;
  text-align: center;
  display: inline-block;
  position: absolute;
}

.library-graphic {
  max-width: 300px;
  max-height: 400px;
}

.graphic-div {
  display: inline-block;
  padding: 0.1em;
}

li {
  background: lightgrey;
  padding: 0.6em;
  padding-left: 1.5em; 
  font-size: 1.0em; 
  list-style-type: none;
  margin: 0.2em;
  border-radius: 0.1em; 
}

#layer-list {
  display: inline-block;
  text-align: right;
  float: right;
}

#sortable { 
  padding-left: 1.5em;
  padding-right: 1.5em; 
  font-size: 1.0em; 
  top : 150px;
  width : 150px;
/*  position : absolute*/  
}



