body {
  /*font-family: 'Special Elite', cursive;*/
  font-family: 'Pinyon Script', cursive;
  font-size: 30px;
}

.heading {
  text-align: center;
  font-size: 130px;
  margin-top: 0;
  margin-bottom: 0.2em;
  font-weight: 100;
}

.composition-graphic {
  position : relative;
}

.composition-graphic:hover {
  cursor: move; 
  cursor: move; 
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.composition-graphic:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.composition-background {
  z-index: -1;
  display: inline-block;
  position: relative;
  height: 560px;
  top: 0;
}

.library-graphic {
  max-width: 300px;
  max-height: 400px;
  cursor: pointer;
}

.graphic-div {
  display: inline-block;
  padding: 0.1em;
}




