body {
  /*font-family: 'Special Elite', cursive;*/
  font-family: 'Pinyon Script', cursive;
  font-size: 30px;
}

.heading {
  text-align: center;
}

.draggable {
  /*width: 200px;*/
/*  padding: 0.5em; 
  float: left; 
  margin: 0 10px 10px 0; */  
}

.composition-graphic {
/*  left: 400px;
  top: 200px;*/
  position : relative;
  /*max-width: 300px;*/
  /*max-height: 300px;*/
  /*margin: auto; */
}

#graphics {
  /*margin-top: 550px;*/
}

.composition-background {
  z-index: -1;
  display: inline-block;
  position: relative;
  top: 2em;
  height: 560px;
}

.library-graphic {
  max-width: 300px;
  max-height: 400px;
}

.graphic-div {
  display: inline-block;
  padding: 0.1em;
}

/*#layer-list {
  display: inline-block;
  text-align: right;
  float: right;
}*/




